spring:
  # datasource:
  #   url: jdbc:sqlserver://172.27.112.1:9433;database=meowdb;trustServerCertificate=true

  #資料庫連線設定 (localhost 要修改成部屬的主機ip)
  datasource:
    url: jdbc:sqlserver://mssql:1433;databaseName=meowdb;trustServerCertificate=true
    username: sa
    password: YourStrong!Passw0rd
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  data:
    redis:
      host: redis
      port: 6379

  web:
    resources:
      static-locations: classpath:/static/
        - file:/usr/local/tomcat/meowWebsite/images/

#Domain Name(冠)
front:
  domainName:
    url: https://petfinder.duckdns.org

back:
  domainName:
    url: https://petfinder.duckdns.org

#用在後端圖片路徑轉前端路徑的rescueService檔案中(冠)
serverAddress-serverPort: 20.2.146.70:8080

file:
  storage:
    uploadDir: /usr/local/tomcat/meowWebsite/images #指向實際的存儲目錄
    baseUrl: ${BASE_URL:http://20.2.146.70:8080/images} #對應圖片的訪問 URL
  petUpload: #在webconfig中設定前後端對應的靜態圖片路徑
    path: /usr/local/tomcat/upload/
  shopUpload:
    path: /usr/local/tomcat/meowWebsite/images/

  tmp-upload-dir: /usr/local/tomcat/upload/tmp/pet/images/ #寵物圖片暫存路徑(冠)

  final-upload-dir: /usr/local/tomcat/upload/final/pet/images/ #寵物圖片上傳路徑(冠)

